body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  background-color: #fff0e6;
}

#header-nav {
	background-color: #ff8533;
	border-radius: 0;
}

.navbar-brand h1 {
	color: white;
	text-shadow: 2px 2px 2px #e65c00;
	margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
	color: #ffc299;
	background: white;
}

#collapsable-nav li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#collapsable-nav hr {
  margin-top: 1px;
  margin-bottom: 1px;
}

.col-xs-12 {
  background-color: #ffb380;
  padding: 10px;
  margin-bottom: 20px;
  padding-top: 0px;
  color: white;
}
